*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-gray: rgb(37, 37, 37);
  --light-blue: #00beef;
}

body {
  font-family: sans-serif;
}

/* Nav styles */
nav {
  height: 100px;
  padding: 0 10vw 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 1px 7px black;
}

form {
  display: flex;
  align-items: center;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
}

input {
  height: 35px;
  padding: 0 10px 0 10px;

  border: none;
  border-radius: 10px 0 0 10px;
}

#search-icon {
  padding: 0 10px 0 10px;
  color: var(--light-blue);
  cursor: pointer;
}

/* Card-container styling */

/* Card styling */
img {
  width: 30vw;
  height: auto;
}
